In [1]:
import pandas as pd
import yfinance as yf 
import numpy as np
import pandas_ta
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

/opt/miniconda3/envs/notebook/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [16]:
ticker_name = 'AAPL'
data = yf.Ticker(ticker_name).history(period='max', interval='1d')
data = data[['Close']]
data.index = data.index.date
data.set_index(pd.DatetimeIndex(data.index), inplace = True)
data

                 Close
1980-12-12    0.099722
1980-12-15    0.094519
1980-12-16    0.087582
1980-12-17    0.089749
1980-12-18    0.092351
...                ...
2023-02-07  154.414230
2023-02-08  151.688400
2023-02-09  150.639999
2023-02-10  151.009995
2023-02-13  153.850006

[10632 rows x 1 columns]

In [4]:
data.ta.ema(close='Close', length = 10, append = True)
data = data.iloc[10:]
data.head(10)

               Close    EMA_10
1980-12-29  0.124869  0.105145
1980-12-30  0.121834  0.108180
1980-12-31  0.118366  0.110032
1981-01-02  0.119666  0.111783
1981-01-05  0.117065  0.112744
1981-01-06  0.111862  0.112583
1981-01-07  0.107093  0.111585
1981-01-08  0.104925  0.110374
1981-01-09  0.110561  0.110408
1981-01-12  0.109694  0.110278

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(data[['Close']], data[['EMA_10']], test_size=0.2)

In [13]:
model = LinearRegression()

model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

In [14]:
print('Model coefficients: ', model.coef_)
print('Mean absolute error: ', mean_absolute_error(Y_test, Y_pred))
print('Coefficient of Determination: ', r2_score(Y_test, Y_pred))

Model coefficients:  [[0.99532445]]
Mean absolute error:  0.32719505264080173
Coefficient of Determination:  0.9991955696675913